{% extends 'base.html' %} {% block content%}
{{super()}}

<h2> Всем привет, меня зовут Дина. С самого раннего детства я очень много читаю, и решила делиться увлекательным миром литературы.<br> На этом сайте вы найдете мои статьи о прочитанных произведениях, занимательные факты о писателях и книгах, очень много моих впечатлений и эмоций и огромную порцию душевности и искренности.
<br><a href = "https://www.instagram.com/literature_leisure/" target="_blank" title="Ссылка на инстаграмм аккаунт"> Ссылка на INSTAGRAMM </a>
{%endblock%}
