{% extends 'base.html' %}
{% block content%}
{{super()}}

<hr>
<h3>Добро пожаловать на литературный сайт! <br>Мы вложили сюда очень много души, уюта, эмоций, собственных мыслей и литературных знаний. <br>Уверены, здесь вы найдете много интересного, увлекательного из огромного мира литературы. Обязательно пишите мне свои пожелания и запросы. <br> Обнимаю, Дина.</h3>
<h2> Статьи-отзывы на прочитанные мною произведения:</h2>
<ul class = 'list-posts'>
{% for p in posts %}
<li>
<p class = 'title'><a href="{{ url_for('showPost', alias=p.url)}}">{{p.title}}</a></p>
<p class="annonce">{{ p.text[:50] | striptags}}</p>
</li>
{% endfor%}
</ul>
{%endblock%}